<div class="container text-light bg-light mt-2">
  <div class="row border border-primary text-dark" id="display">
    <h4>{{current}}</h4>
  </div>
  <div class="row">
    <button class="btn btn-success" (click)="addDigit('7')">7</button>
    <button class="btn btn-success" (click)="addDigit('8')">8</button>
    <button class="btn btn-success" (click)="addDigit('9')">9</button>
    <button class="btn btn-warning" (click)="addOperation('/')">/</button>
  </div>
  <div class="row">
    <button class="btn btn-success" (click)="addDigit('4')">4</button>
    <button class="btn btn-success" (click)="addDigit('5')">5</button>
    <button class="btn btn-success" (click)="addDigit('6')">6</button>
    <button class="btn btn-warning" (click)="addOperation('*')">*</button>
  </div>
  <div class="row">
    <button class="btn btn-success" (click)="addDigit('1')">1</button>
    <button class="btn btn-success" (click)="addDigit('2')">2</button>
    <button class="btn btn-success" (click)="addDigit('3')">3</button>
    <button class="btn btn-warning" (click)="addOperation('-')">-</button>
  </div>
  <div class="row">
    <button class="btn btn-success" (click)="addDigit('0')">0</button>
    <button class="btn btn-success" (click)="addDigit('.')">.</button>
    <button class="btn btn-danger" (click)="calculate()">=</button>
    <button class="btn btn-warning" (click)="addOperation('+')">+</button>
  </div>
  <div class="row">
    <button class="btn btn-danger btn-clear" (click)="clear()">Clear</button>
  </div>
</div>


