<div class="mt-3 mb-5">
  <p class="text-light">What type of product do you want to add?</p>
  <label class="text-light mr-5 input-label">
    <input type="radio" name="product-check" (click)="check('bike')"> Bicycle
  </label>
  <label class="text-light input-label">
    <input type="radio" name="product-check" (click)="check('scooter')"> Scooter
  </label>
  <form *ngIf="checked">
    <div class="form-row">
      <label class="text-light input-label">Product name:
        <input type=text [formControl]="name" title="Enter bicycle name" placeholder="Stels">
      </label>
    </div>
    <div class="form-row">
      <label class="text-light input-label">Unit price:
        <input type=text [formControl]="unitPrice" title="Enter bicycle unit price" placeholder="123.45">
      </label>
    </div>
    <div class="form-row">
      <label class="text-light input-label">Units on stock:
        <input type=text [formControl]="unitsOnStock" title="Enter the number of units on stock" placeholder="12">
      </label>
    </div>
    <div class="form-row">
      <label class="text-light input-label">Image src:
        <input type=text [formControl]="imgSrc" title="Enter bicycle image src" placeholder="assets/img/undefined.jpg">
      </label>
    </div>
  </form>

  <form *ngIf="isBike && checked">
    <div class="form-row">
      <label class="text-light input-label">Bicycle type:
        <input type=text [formControl]="type" title="Enter bicycle type" placeholder="city">
      </label>
    </div>
    <div class="form-row">
      <label class="text-light input-label">Bicycle frame size:
        <input type=text [formControl]="frameSize" title="Enter frame size" placeholder="21">
      </label>
    </div>
    <div class="form-row">
      <label class="text-light input-label">Bicycle wheel diameter:
        <input type=text [formControl]="wheelDiameter" title="Enter wheel diameter" placeholder="28">
      </label>
    </div>
    <div class="form-row">
      <label class="text-light input-label">Bicycle description:
        <input type=text [formControl]="description" title="Enter description" placeholder="Super bike!">
      </label>
    </div>
    <div class="form-row">
      <button class="my-btn btn btn-primary" (click)="submitBicycle()">Submit</button>
    </div>
  </form>

  <form *ngIf="!isBike && checked">
    <div class="form-row">
      <label class="text-light input-label">Scooter max range:
        <input type=text [formControl]="maxRange" title="Enter max range" placeholder="30">
      </label>
    </div>
    <div class="form-row">
      <label class="text-light input-label">Scooter weight:
        <input type=text [formControl]="weight" title="Enter weight" placeholder="3.4">
      </label>
    </div>
    <div class="form-row">
      <button class="my-btn btn btn-primary" (click)="submitScooter()">Submit</button>
    </div>
  </form>
</div>
