.mylabel{
  width: 7vw;
  margin-left: 10px;
}

.header{
  margin-left: 10px;
  margin-top: 5px;
}

.main-container {
  max-width: 450px;
}

.user-container{
  display: inline-block;
  border-radius: 10px;
  border: solid black;
  padding: 10px;
  width: 380px;
}


.user-text{
  margin-top: 50px;
  margin-left: 10px;
}

.mybtn{
  float: right;
  margin: 10px
}
