<div class="main-container container-fluid text-light mt-5">
  <form>
    <div class="form-row">
      <label class="input-label">Product name:
        <input type=text [formControl]="name" title="Enter bicycle name" placeholder="Stels" class="text-dark">
      </label>
    </div>
    <div class="form-row">
      <label class="input-label">Unit price:
        <input type=text [formControl]="unitPrice" title="Enter bicycle unit price" placeholder="123.45" class="text-dark">
      </label>
    </div>
    <div class="form-row">
      <label class="input-label">Units on stock:
        <input type=text [formControl]="unitsOnStock" title="Enter the number of units on stock" placeholder="12" class="text-dark">
      </label>
    </div>
    <div class="form-row">
      <label class="input-label">Image src:
        <input type=text [formControl]="imgSrc" title="Enter bicycle image src" placeholder="assets/img/undefined.jpg" class="text-dark">
      </label>
    </div>
  </form>

  <form *ngIf="isBike">
    <div class="form-row">
      <label class="input-label">Bicycle type:
        <input type=text [formControl]="type" title="Enter bicycle type" placeholder="city" class="text-dark">
      </label>
    </div>
    <div class="form-row">
      <label class="input-label">Bicycle frame size:
        <input type=text [formControl]="frameSize" title="Enter frame size" placeholder="21" class="text-dark">
      </label>
    </div>
    <div class="form-row">
      <label class="input-label">Bicycle wheel diameter:
        <input type=text [formControl]="wheelDiameter" title="Enter wheel diameter" placeholder="28" class="text-dark">
      </label>
    </div>
    <div class="form-row">
      <label class="input-label">Bicycle description:
        <input type=text [formControl]="description" title="Enter description" placeholder="Super bike!" class="text-dark">
      </label>
    </div>
    <div class="form-row">
      <button class="my-btn btn btn-primary submit-btn" (click)="submitBicycle()" routerLink="/home" >Submit</button>
    </div>
  </form>

  <form *ngIf="!isBike">
    <div class="form-row">
      <label class="input-label">Scooter max range:
        <input type=text [formControl]="maxRange" title="Enter max range" placeholder="30" class="text-dark">
      </label>
    </div>
    <div class="form-row">
      <label class="input-label">Scooter weight:
        <input type=text [formControl]="weight" title="Enter weight" placeholder="3.4" class="text-dark">
      </label>
    </div>
    <div class="form-row">
      <button class="my-btn btn btn-primary submit-btn" (click)="submitScooter()" routerLink="/home">Submit</button>
    </div>
  </form>
</div>
